*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: clamp(14px,1vw,18px);
}
body{
    background-color: rgb(21, 21, 21);
}

@mixin flex-coloum($gap:0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section{
    max-width: 2000px;
}

main{
    width: 100%;
    align-items: center;
    background-color: #121212;
    @include flex-coloum();

    section.view1{
        width: 100%;
        @include flex-coloum(1rem);
        padding: 1rem ;
        

        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 15px;
            }
        }
        .bottom{
            padding: 2rem;
            background-color: #242424;
            border-radius: 15px;
            @include flex-coloum(4rem);
            
            p{
                font-size: 1rem;
                font-weight: 250; 
            }

            .text{
                
                @include flex-coloum(1rem);

                h1{
                    font-size: 2.5rem;
                    font-weight: 100;
                    text-transform: uppercase;
                }
                p{
                    font-size: 1.4rem;
                    font-weight: 100;
                    opacity: 0.5;
                    line-height: 1.5;
                }
                button{
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.5rem 1rem;
                    border-radius: 0.5rem;
                }
            }
        }
    }
    section.view2{
        width: 100%;
        @include flex-coloum(1rem);
        padding: 1.5rem 2rem;
        background-color:#121212;
        

        .top,.bottom{
            display: flex;
            width: 100%;
            justify-content: space-around;
            text-transform: uppercase;
            text-align: center;
        }
        .element{
            padding: 1rem;
            line-height: 1.6;

            small{
                font-size: 1.1rem;
                font-weight: 100;
                opacity: 0.6;
            }
            h2{
                font-weight: 200;
                font-size: 2.2rem;
            }
        }
    }
    section.view3{
        width: 100%;
        padding: 1rem;
        @include flex-coloum(1rem);

        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 15px;
            }
        }
        .bottom{
            background-color: #242424;
            // margin-top:1rem ;
            border-radius: 15px;
            padding: 2rem ;
            @include flex-coloum(5rem);
            

            #first{
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: 200;
            }
            
            .text{
                
                @include flex-coloum(2rem);

                h1{
                    font-size: 2.5rem;
                    font-weight: 100;
                    text-transform: uppercase;
                }

                // padding: 3rem 0rem;
                .paragraph{
                    @include flex-coloum(0rem);
                    opacity: 0.4;
                    line-height: 1.5;
                    

                    #second{
                        font-weight: 100;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    section.view4{
        width: 100%;
        padding: 1rem;
        @include flex-coloum(1rem);

        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 15px;
            }
        }
        .bottom{
            background-color: #242424;
            // margin-top:1rem ;
            border-radius: 15px;
            padding: 2rem ;
            @include flex-coloum(5rem);
            

            #first{
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: 200;
            }
            
            .text{
                
                @include flex-coloum(2rem);

                h1{
                    font-size: 2.5rem;
                    font-weight: 100;
                    text-transform: uppercase;
                }

                // padding: 3rem 0rem;
                .paragraph{
                    @include flex-coloum(0rem);
                    opacity: 0.4;
                    line-height: 1.5;
                    

                    #second{
                        font-weight: 100;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    header.two{
        width: 100%;
        @include flex-coloum(1rem);
        flex-direction: row;
        padding: 1rem;

        .inside{
            display: flex;
            justify-content: flex-start;
            width: 100%;
            padding: 1rem 2rem;
            border-radius: 15px;
            background-color: rgba(255, 255, 255, 0.549);
            

            h1{
                text-transform:uppercase ;
                font-size: 2rem;
                font-weight: 250;
                // word-spacing: 12rem;
                letter-spacing: 0.8rem;
                color: black;
            }
        }
    }
    section.view5{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        padding:1rem ;
        

        .card{
            width: 100%;
            background-image: url(./image4.png);
            background-position: center;
            background-size: cover;
            aspect-ratio: 1/1;
            border-radius: 15px;
            @include flex-coloum(0);
            justify-content: space-between;
            overflow: hidden;
            padding: 1rem;

            .top{
                display: flex;
                gap: 1rem;
                justify-content: flex-end;
            }

            .icon,.bottom{
                background-color: rgba(84, 84, 84, 0.375);
                backdrop-filter:blur(5px) ;
                border: 0.05rem solid white;
                border-radius:0.5rem ;
                padding: 0.7rem;
            }

            .icon{
                width: fit-content;
                border-radius: 50%;
                font-size: 1.4rem
            }

            .bottom{
                padding: 1.5rem;
                backdrop-filter:blur(25px) ;
                display: flex;
                justify-content: space-between;

                p{
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    font-weight: 130;
                }
            }
            
        }
        #second{
            background-image: url(./image5.png);
        }
        #third{
            background-image: url(./image6.png);
        }
        
    }
    section.view6{
        width: 100%;
        @include flex-coloum(1rem);
        padding: 0rem 1rem ;
        .top{
            width: 100%;
            img{
                width: 100%;
                border-radius: 15px;
            }
        }
        .bottom{
            @include flex-coloum(5rem);
            width: 100%;
            background-color: #242424;
            padding: 2.3rem;
            border-radius: 15px;
            justify-content: space-between;

            .paragraph{
                @include flex-coloum(0.8rem);
                line-height: 1.3;

                p{
                    opacity: 0.5;
                    text-transform: uppercase;
                    font-size: 1.1rem;
                }
                h1{
                    width: 90%;
                    text-transform: uppercase;
                    font-weight: 150;
                    font-size: 2.2rem;
                    line-height: 1.3;
                    letter-spacing: 0.2rem;
                }
            }
            button{
                width: fit-content;
                border: none;
                outline: none;
                text-transform: uppercase;
                padding: 0.7rem 2rem;
                border-radius: 15px;
                font-size: 1.2rem;
                font-weight: 100;
            }
        }
    }
    section.view7{
        width: 100%;
        padding: 1rem;
        .inside{
            width: 100%;
            background-color: #CEBD63;
            border-radius: 15px;
            padding: 2rem;
            @include flex-coloum(1rem);

            .left{
                @include flex-coloum(0.8rem);
                p{
                    color: black;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    font-weight: 230;
                }

                h1{
                    width: 90%;
                    color: black;
                    font-weight: 220;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    letter-spacing: 0.2rem;
                }
            }
            .right{

                button{
                    width: 100%;
                    border: none;
                    border-radius: 8px;
                    outline: none;
                    padding: 1.2rem 0rem;
                    background-color: rgba(0, 0, 0, 0.741);
                    color: rgba(255, 255, 255, 0.887);
                    font-size: 1rem;
                    font-weight: 100;
                    text-transform: uppercase;
                    letter-spacing: 0.2rem;
                }
            }
        }

    }
}

@media (min-width:900px){
    main{

        section.view1{
            flex-direction: row;
            padding: 1rem 2rem;
            .top,.bottom{
                width: 50%;
            }
            
            .bottom{
                padding: 3.5rem;
                justify-content: space-between;

                .text{
                    h1{
                        width: 91%;
                        line-height: 1.35;
                        font-size: 3.5rem;
                        font-weight: 200 ;
                        padding: 0 0.3rem;
                        letter-spacing: 0.3rem;
                    }
                    p{
                        width: 100%;
                        font-size: 1.5rem;
                    }
                    button{
                        margin: 0.5rem 0;
                    }
                }
            }   
        }
        section.view2{
            flex-direction:row;
            padding: 1rem 3rem;
        }
        section.view3{
            flex-direction: row-reverse;
            
            padding: 1rem 2rem;

            .top,.bottom{
                width: 50%;
            }
            .bottom{
                justify-content: space-between;
                padding: 3.5rem;

                .text{
                    .paragraph{
                        flex-direction: row;
                        gap: 3rem;

                        p{
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
        section.view4{
            flex-direction: row;
            
            padding: 0rem 2rem;

            .top,.bottom{
                width: 50%;
            }
            .bottom{
                justify-content: space-between;
                padding: 3.5rem;

                .text{
                    .paragraph{
                        flex-direction: row;
                        gap: 3rem;

                        p{
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
        section.view5{
            flex-direction: row;
            padding:1rem ;
        }
        section.view6{
            flex-direction: row;
            .top,.bottom{
                width: 50%;
            }
            .bottom{
                padding: 4rem;
            }
        }
        section.view7{
            .inside{
                flex-direction: row;
                justify-content: space-between;
                padding: 4rem ;

                .left{
                    h1{
                        width: 75%;
                        font-size:5rem ;
                        letter-spacing: 0.3rem;
                    }
                }
                .right{
                    display: flex;
                    align-items: end;
                    button{
                        // width: 100%;
                        // width: fit-content;
                        padding: 1rem 4rem;
                    }
                }
            }
        }
    }
}
